<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/cart.css">
</head>
<%- include("../includes/navigation.ejs") %>
    <main>
        <% if (products.length > 0) { %>
            <ul class="cart__item-list">
                <% products.forEach(p => { %>
                    <li class="cart__item">
                        <h1><%= p.title %></h1>
                        <h2>Cantidad: <%= p.cartItem.quantity %></h2>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" value="<%= p.id %>" name="productId">
                            <button class="btn danger" type="submit">Eliminar 🗑</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            
            <hr>
            <div class="centered">
                <div style="margin: 20px 0;">
                    <span style="font-weight: bold;">Total en carrito:</span>
                    <br />
                    <span style="font-weight: bold; font-size: 1.5rem; color: #DD4A48;"><%= cartTotal %></span>
                </div>
                <form action="/create-order" method="post">
                    <button class="btn" type="submit">Ordenar ahora! 💸</button>
                </form>
            </div>
        <% } else { %>
            <h1>No hay productos en el carrito</h1>
        <% } %>
    </main>
<%- include("../includes/end.ejs") %>
