<%- include("../includes/head.ejs") %>
    <link rel="stylesheet" href="/css/product.css">
</head>
<%- include("../includes/navigation.ejs") %>
    <main>
        <% if (orders.length <= 0) { %>
        <h1> No hay ordenes todavia! 📭 </h1>
        <% } else { %>
            <ul>
                <% orders.forEach((order, i) => {  %>
                    <li>
                        <h1> Orden #<%= i + 1 %></h1>
                        <ul>
                            <% order.products.forEach(product => { %>
                                <li style="margin-bottom: 10px;"> 
                                    <span style="font-weight: bold;">
                                        <%= product.title %> 
                                    </span>
                                    <br />
                                    Cantidad: <span style="color: gray;"><%= product.orderItem.quantity %></span>
                                    <br /> 
                                    Precio: <span style="color: gray;"><%= product.price %></span>
                                </li>
                            <% }); %>
                            <span>
                                <br />
                                Total de Orden: <span style="color:#DD4A48; font-weight: bold;"><%= order.orderTotal %></span>
                            </span>
                        </ul>
                    </li>
                <% }); %>
            </ul>
        <% } %>
    </main>
<%- include("../includes/end.ejs") %>
